In [1]:
import pandas as pd

In [4]:
#Loading data
df = pd.read_csv("spotify_millsongdata.csv")

In [5]:
df.shape

(57650, 4)

In [7]:
#Kiểm tra các ô null
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df = df.drop('link', axis = 1)

In [10]:
df.head(5)

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...

In [11]:
df['text'][0]

"Look at her face, it's a wonderful face  \r\nAnd it means something special to me  \r\nLook at the way that she smiles when she sees me  \r\nHow lucky can one fellow be?  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?  \r\n  \r\nAnd when we go for a walk in the park  \r\nAnd she holds me and squeezes my hand  \r\nWe'll go on walking for hours and talking  \r\nAbout all the things that we plan  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?\r\n\r\n"

In [12]:
df.sample(5000)

,artist,song,text
33456,Genesis,Many Too Many,Many too many have stood where I stand \r\nMa...
9765,Joni Mitchell,Sunny Sunday,She pulls the shade \r\nIt's just another sun...
45293,Neil Diamond,Marry Me,Say that you'll marry me \r\nSometimes carry ...
4010,Deep Purple,Strange Kind Of Woman,There once was a woman \r\nA strange kind of ...
22179,Yoko Ono,Wake Up,"Mm-mm, mm-mm, mm-mm, \r\nMm-mm, mm-mm, mm-mm...."
...,...,...,...
49577,Quicksand,It Would Be Cooler If You Did,"If, you turn, turn away, \r\nI, can pretend, ..."
30522,Dream Theater,Beneath The Surface,Is there ever really a right time \r\nYou had...
14533,O.A.R.,James,"You said, ""Young man, don't rely on a sword, ..."
24363,Avril Lavigne,4 Real,If I show you \r\nGet to know you \r\nIf I h...
20983,Wanda Jackson,Fujiyama Mama,I've been to Nagasaki Hiroshima too the same I...

In [13]:
df = df.sample(5000)

In [14]:
df.head(5)

,artist,song,text
50238,Ray Boltz,Is There A Heaven For Me,Is There A Heaven For Me? \r\nWords by Ray Bo...
11713,Linkin Park,Wretches And Kings,"There's a time, when the operation of the mach..."
47632,Paul McCartney,I Saw Her Standing There,"1-2-3-4! \r\n \r\nWell, she was just 17, \r..."
53685,Tori Amos,Merman,Go to bed \r\nThe priests are dead \r\nNow n...
2507,Cheap Trick,Wrong All Along,Been wrong all along \r\nI've been wrong all ...

Cleaning

In [22]:
df['text']=df['text'].str.lower().replace('r^\w\s',' ').replace(r'\n',' ', regex=True)

In [23]:
df.head(5)

,artist,song,text
50238,Ray Boltz,Is There A Heaven For Me,is there a heaven for me? \r words by ray bol...
11713,Linkin Park,Wretches And Kings,"there's a time, when the operation of the mach..."
47632,Paul McCartney,I Saw Her Standing There,"1-2-3-4! \r \r well, she was just 17, \r y..."
53685,Tori Amos,Merman,go to bed \r the priests are dead \r now no ...
2507,Cheap Trick,Wrong All Along,been wrong all along \r i've been wrong all a...

In [52]:
df['text'][50238]

"is there a heaven for me?  \r words by ray boltz, music by ray boltz and steve millikan  \r she heard him preaching in the church  \r she tried but she could not get in  \r she was a lonely child on the street  \r the wind was cold against her skin  \r the wind was cold against her skin  \r she heard the sound  \r of strange new words  \r that someone else would then explain  \r they spoke of heaven  \r and a saviors love  \r they said that jesus was his name  \r chorus:  \r is there a heaven for me?  \r a place i wont be hungry or cold?  \r that is a place that i would love to see  \r is there a heaven for me  \r she waited patiently for hours  \r until at last she saw him leave  \r he couldn't understand  \r the words she said  \r so he asked tell me what she needs  \r chorus (repeat)  \r and on that street they knelt and prayed  \r and on that night a child was saved  \r listen closely and you'll hear  \r more than just a girl  \r youll hear the children of the world  \r youll hear the children of the world  \r chorus (repeat 2x)  \r 1996 shepherd boy musicascap (adm. by word, inc.) and weedom\r \r "

Tokenization và Vectorization

In [41]:
import nltk
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [42]:
stemmer = PorterStemmer()

In [43]:
def token(txt):
    token = nltk.word_tokenize(txt) # tách chuỗi văn bản thành các từ  riêng lẻ
    a = [stemmer.stem(w) for w in token] # duyệt qua từng từ trong token và chuyển về dạng gốc
    return " ".join(a) # ghép các từ trong list a thành một chuỗi, ngăn cách bởi dấu " "

In [47]:
token("you are beautiful")

'you are beauti'

In [53]:
df['text'].apply(lambda x: token(x))

50238    is there a heaven for me ? word by ray boltz ,...
11713    there 's a time , when the oper of the machin ...
47632    1-2-3-4 ! well , she wa just 17 , you know wha...
53685    go to bed the priest are dead now no one can c...
2507     been wrong all along i 've been wrong all alon...
                               ...
32687    [ vers 1 ] blast on near a wall tell it or say...
33366    i thought i heard someon cri , thought i heard...
49570    welcom my son welcom to the machin where have ...
17995    i said , `` oh no , doncha follow me no more ....
30605    come for a dream come and love in the sun come...
Name: text, Length: 5000, dtype: object

In [54]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')
# sử dụng từ riêng lẻ trong văn bản để tạo vector, các option khác: char, char_wb
# stopwords: loại bỏ các từ không mang ý nghĩa như "a", "an", "the", "me", ...

In [58]:
matrix = tfid.fit_transform(df['text'])

In [60]:
similer = cosine_similarity(matrix)
## Kết quả là một ma trận đối xứng, giá trị ở hàng thứ i và cột thứ j thể hiện độ tương đồng cosin giữa hai vector biểu diễn văn bản i và j trong tập dữ liệu.

In [61]:
similer[0]

array([1.        , 0.02322873, 0.03714578, ..., 0.        , 0.0217215 ,
       0.02222368])